<strong>
  Olá,
  {{provider}}
</strong>
<p>
  Houve um cancelamento de horário, confira os detalhes abaixo:
</p>
<p>
  <strong>
    Cliente:
  </strong>
  {{user}}
</p>
<p>
  <strong>
    Data/Hora:
  </strong>
  {{date}}
</p>
<p>
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
